---
title: Clients::Community
active_community: true
video: 85987687
testemonial: <% _.forEach(paras, function(text) { %><p><%= text %></p><% }); %>
paras:
- Film Fallon have supported Big Heritage for the last three years, and in that time have produced a stunning range of films that have helped showcase our work.
- Creative, fun and with an artistic eye for detail; they have been our 'wingman' in so many projects and cannot recommend them highly enough.
testemonial-author: Dean Paton
testemonial-company: Big Heritage
---
{{> client }}




