---
title: Clients::Corporate
active_corporate: true
testemonial: <% _.forEach(paras, function(text) { %><p><%= text %></p><% }); %>
paras:
- Water Street Marketing Company have worked with Film Fallon on a number of occasions.
- From the scoping stage right through to final edit and completion the work has been of an excellent standard and great value for money.
- Ryan's attention to detail and commitment to getting the job right is exemplary and we have no hesitation in recommending Film Fallon.
- We look forward to working with Ryan again in the near future.
testemonial-author: Ian Dixon
testemonial-company: Water Street Marketing
video: 61303004
---
{{> client }}
