---
title: Clients::Documentary
active_documentary: true
testemonial: <% _.forEach(paras, function(text) { %><p><%= text %></p><% }); %>
paras:
- Excellent, atmospheric, beautiful and sends out a really strong indication of the writing life.
testemonial-author: Jeff Young
testemonial-company:
video: 69282969
---
{{> client }}
