---
title: Clients::Seminars
active_seminars: true
video: 106974293
testemonial: <% _.forEach(paras, function(text) { %><p><%= text %></p><% }); %>
paras:
- Engage Liverpool is a resident organization in Liverpool city center that has worked with FilmFallon now on a number of seminars and workshops and couldn’t be happier with the professional and creative service we have received.
- Ryan is an expert at listening closely to the requirements of the client, working within strict budget guidelines while offering constructive and helpful advice that has delivered more than we could ever have imagined.
- We have no hesitation in recommending Ryan to anyone who needs the services he offers.
testemonial-author: Gerry Proctor MBE
testemonial-company: Chair of Engage Liverpool
---
{{> client }}




