---
title: Clients::Viral
active_viral: true
video: 47758718
testemonial: <% _.forEach(paras, function(text) { %><p><%= text %></p><% }); %>
paras:
- Filmfallon knows his way around a camera like the pied piper knows his way around a flute. Hypnotic
testemonial-author: Mike Bennet
testemonial-company: bennokid.com
---
{{> client }}
